body {
  text-align: center;
}

h1 {
    background: #0bd;
    color: #fff;
    display: inline-block;
    /*background-image: linear-gradient(90deg, #0bd, #0bd, #fff 50%, #fff);*/
    /*background-size: 200% 100%;*/
    padding: 6em 3rem;
    border-radius: 50%;
}